.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tdc {
	/* background: rgb(28, 39, 53); */
	display: flex;
	flex-flow: column;
	/* height: 100vh; */
	padding: 16px;
	position: relative;
	width: 100%;

}

.tdc__header {
	display: flex;
	/* height: 160px; */
	justify-content: space-between;
	width: 100%;
}

.tdc__body {
	display: flex;
	width: 100%;
}

.tdc__body__left {
	/* border: 1px solid gray; */
	display: flex;
	flex: 1;
	flex-flow: column;
	padding: 10px;
	overflow: auto;
}

.tdc__body__right {
	/* border: 1px solid gray; */
	display: flex;
	flex-flow: column;
	width: 320px;
	padding: 10px;
	overflow: auto;
}

.tdc-section {
	border: 1px solid gray;
	display: flex;
	flex-flow: column;
	min-height: 350px;
	max-height: 350px;
	margin-bottom: 10px;
	padding: 10px;
}

.tdc-section__header {
	display: flex;
	min-height: 40px;
	max-height: 40px;
	justify-content: space-between;
	width: 100%;
}

.tdc-section__body {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	/* height: 100%; */
	height: 0px;
	overflow-y: auto;
}

.task-container {
	align-items: center;
	background: rgb(36, 45, 60);
	border: 1px solid gray;
	display: flex;
	flex-shrink: 0;
	height: 34px;
	min-height: 34px;
	max-height: 34px;
	justify-content: space-between;
	margin-bottom: 4px;	
	width: 100%;
}

.task-info {
	align-items: center;
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: space-between;
	padding: 4px;
}

.task-actions {
	display: flex;
}

.task__action {
	margin-right: 6px;
	color: black;
	padding: 5px;

}

.task-progress {
	align-items: center;
	/* justify-content: center; */
	display: flex;
	height: 100%;
	/* position: relative; */
	width: 260px;
}

.task-progress__duration {
	background: steelblue;
	height: 100%;
}

.task-progress__filler {
	background: gray;
	height: 100%;
}

.goal-container {
	display: flex;
	flex-flow: column;
	flex-shrink: 0;
	/* margin-bottom: 4px;	 */
	width: 100%;
}

.goal-container__header {
	align-items: center;
	background: rgb(36, 45, 60);
	border: 1px solid gray;
	display: flex;
	min-height: 34px;
	justify-content: space-between;
	margin-bottom: 4px;	
	padding: 4px;
	width: 100%;
}

.object-container {
	align-items: center;
	background: rgb(36, 45, 60);
	border: 1px solid gray;
	display: flex;
	flex-shrink: 0;
	min-height: 34px;
	justify-content: space-between;
	margin-bottom: 4px;	
	margin-left: 10px;
	padding: 4px;
	/* width: 100%; */
}

.modal-container {
	background: rgba(30, 30, 30, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	z-index: 5;
}

.create-modal {
	align-items: center;
	background: lightgray;
	border-radius: 4px;
	display: flex;
	flex-flow: column;
	min-height: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	width: 600px;
}

.create-modal__header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}